*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Microsoft YaHei",sans-serif; 
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
.search-more{
	font-size: 18px;
    background-color: #e7210e;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.one{
	background-color: rgb(37, 99, 41);
}
.two{
	background-color: rgb(255, 162, 0);
}
.three{
	background-color: rgb(126, 123, 184);
}
.ContentFour img{
	width: 100%;
	display: block;
	vertical-align: middle;
}
.ContentFour p{
	white-space: nowrap;
    color: #282828;
    font-size: 0.9em; 
    margin-bottom: 5px;
}
.four-card{
	width:32%;
	box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
}
@media(min-width: 760px){
	.card{
				width:50%;
			}
	.pp{
		height: 140px;
	}

}
@media(max-width: 440px){
	.card{
		width: 100%;
	}
	.four-card{
		width: 100%;
		margin-bottom: 10px;
	}
}



