*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Microsoft YaHei",sans-serif; 
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
.search-more{
	font-size: 18px;
    background-color: #e7210e;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
@media(min-width: 760px){
	.card{
				width:50%;
			}
	.pp{
		height: 140px;
	}
}
@media(max-width: 440px){
	.card{
		width: 100%;
	}
}



